@model TCTE.Models.SalesMan

@{
    ViewBag.Title = "业务员详细信息";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terminal.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terminal.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLicenced)
        </dt>

        <dd>
            @(Model.IsLicenced ? "可以" : "不可以")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-pink" })
</p>
