@model IEnumerable<TCTE.ViewModel.PeccancyInfo>
@using TCTE.Utility;

@{
    ViewBag.Title = "违章信息";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="text-right">
    @if (RoleHelper.IsInRole(SystemRole.COMPANY_ADMIN))
    {
        using (Html.BeginForm("Create", "Order", FormMethod.Post))
        {
            <input type="hidden" name="PlateNumber" value="@(ViewBag.PlateNumber)" />
            <input type="hidden" name="VIN" value="@ViewBag.VIN" />
            <input type="submit" value="生成订单" class="btn btn-info" />
        }
    }
</div>

@foreach (var item in Model)
{
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.PlateNumber)</dt>
        <dd>@Html.DisplayFor(m => item.PlateNumber)</dd>

        <dt>@Html.DisplayNameFor(m => m.Time)</dt>
        <dd>@Html.DisplayFor(m => item.Time)</dd>

        <dt>@Html.DisplayNameFor(m => m.Address)</dt>
        <dd>@Html.DisplayFor(m => item.Address)</dd>

        <dt>@Html.DisplayNameFor(m => m.Behavior)</dt>
        <dd>@Html.DisplayFor(m => item.Behavior)</dd>

        <dt>@Html.DisplayNameFor(m => m.Money)</dt>
        <dd>@Html.DisplayFor(m => item.Money)</dd>

        <dt>@Html.DisplayNameFor(m => m.Deduction)</dt>
        <dd>@Html.DisplayFor(m => item.Deduction)</dd>
    </dl>
}