@model TCTE.ViewModel.Car
@using TCTE.Utility;

@{
    ViewBag.Title = "违法信息";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@if (Model.PeccancyInfos.Count > 0)
{
    <div class="clearfix">
    <div class="pull-right">
        @if (RoleHelper.IsInRole(SystemRole.COMPANY_ADMIN))
        {
            using (Html.BeginForm("Create", "Order", FormMethod.Post))
            {
                <input type="hidden" name="PlateNumber" value="@(ViewBag.PlateNumber)" />
                <input type="hidden" name="VIN" value="@ViewBag.VIN" />
                <input type="submit" value="生成订单" class="btn btn-info" />
            }
        }
    </div>

    <div id="carInfo" class="pull-left">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Type)</dt>
            <dd>@Html.DisplayFor(m => m.Type)</dd>
            <dt>@Html.DisplayNameFor(m => m.PlatNumber)</dt>
            <dd>@Html.DisplayFor(m => m.PlatNumber)</dd>
            <dt>@Html.DisplayNameFor(m => m.Purpose)</dt>
            <dd>@Html.DisplayFor(m => m.Purpose)</dd>
            <dt>@Html.DisplayNameFor(m => m.Owner)</dt>
            <dd>@Html.DisplayFor(m => m.Owner)</dd>
            <dt>@Html.DisplayNameFor(m => m.EndDate1)</dt>
            <dd>@Html.DisplayFor(m => m.EndDate1)</dd>
            <dt>@Html.DisplayNameFor(m => m.EndDate2)</dt>
            <dd>@Html.DisplayFor(m => m.EndDate2)</dd>
            <dt>@Html.DisplayNameFor(m => m.PhoneNumber)</dt>
            <dd>@Html.DisplayFor(m => m.PhoneNumber)</dd>
            <dt>@Html.DisplayNameFor(m => m.Status)</dt>
            <dd>@Html.DisplayFor(m => m.Status)</dd>
        </dl>
    </div>
    </div>
    
    <div id="peccancys" class="clearfix">
        @foreach (TCTE.ViewModel.PeccancyInfo item in Model.PeccancyInfos)
        {
            <hr />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].PlateNumber)</dt>
                <dd>@Html.DisplayFor(m => item.PlateNumber)</dd>

                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].Time)</dt>
                <dd>@Html.DisplayFor(m => item.Time)</dd>

                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].Address)</dt>
                <dd>@Html.DisplayFor(m => item.Address)</dd>

                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].Behavior)</dt>
                <dd>@Html.DisplayFor(m => item.Behavior)</dd>

                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].Money)</dt>
                <dd>@Html.DisplayFor(m => item.Money)</dd>

                <dt>@Html.DisplayNameFor(m => m.PeccancyInfos[0].Deduction)</dt>
                <dd>@Html.DisplayFor(m => item.Deduction)</dd>
            </dl>
        }
    </div>
}
else
{
    @:没有违法信息
    <hr />
}

