@model TCTE.Models.Terminal

@{
    ViewBag.Title = "添加设备";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SerialNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SerialNumber)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompanyId", (ViewBag.Companies as IEnumerable<SelectListItem>), "", new { @class = "form-control", id = "s2example-1", tabindex = "-1" })
                @Html.ValidationMessageFor(model => model.CompanyId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-success btn-block btn-lg" />
            </div>
        </div>
    </div>
}

@section styles{
    <link href="~/assets/js/select2/select2.css" rel="stylesheet" />
    <link href="~/assets/js/select2/select2-bootstrap.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/js/select2/select2.min.js"></script>
    <script src="~/assets/js/select2/select2_locale_zh-CN.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#s2example-1").select2({
                placeholder: '请选择授权使用此设备的商家...',
                allowClear: true
            }).on('select2-open', function () {
                // Adding Custom Scrollbar
                $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
            });

        });
    </script>
}