@model IEnumerable<TCTE.Models.Terminal>

@{
    ViewBag.Title = "设备列表";
    Layout = "~/Views/Shared/_FormListLayout.cshtml";

}

@section ListHeader{
    <th>
        @Html.DisplayNameFor(model => model.Code)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SalesMan.Name)
    </th>

    <th>操作</th>
}

@section ListBody{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesMan.Name)
            </td>

            <td style="white-space:nowrap">
                @if (item.Status != TCTE.Models.SystemType.TerminalStatus.NotInitialized)
                {
                    @Html.ActionLink("重置", "Reset", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm btn-icon icon-left" })
                    @Html.ActionLink("报修", "ReportMalfunction", new { id = item.Id }, new { @class = "btn btn-info btn-sm btn-icon icon-left" })
                }
                else
                {
                    @*@Html.ActionLink("指派", "AssignToSalesMan", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm btn-icon icon-left" })*@
                }
            </td>
        </tr>
    }
}

@section scripts{
    <script src="~/assets/js/toastr/toastr.min.js"></script>
    <script>
        $("#link_AddData").hide();
    </script>
}