@model IEnumerable<TCTE.Models.RegistrationRequest>

@{
    ViewBag.Title = "以下设备正在请求激活";
    Layout = "~/Views/Shared/_FormListLayout.cshtml";
}

@section ListHeader{
    <th>
        @Html.DisplayNameFor(model => model.RequestDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.RegistrationToken.Category)
    </th>
    <th>操作</th>
}

@section ListBody{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationToken.Category)
            </td>
            <td style="white-space:nowrap">
                @using (Html.BeginForm("Register", "Terminal", new { id = item.Id }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="通过审核" class="btn btn-secondary btn-sm btn-icon icon-left" />
                }

                @using (Html.BeginForm("DeleteRegister", "Terminal", new { id = item.Id }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="删除" class="btn btn-danger btn-sm btn-icon icon-left btn-del" />
                }
            </td>
        </tr>
    }
}

@section scripts{
    <script>
        //order = [[0,"asc"]];
        $("#link_AddData").hide();
    </script>
}